[Unit]
Description=PZ Discord Bot with python
Documentation=https://github.com/cedorikku/pz-portal
After=network.target
After=pz-server-api.service

[Service]
Type=simple
User=<user>
ExecStart=docker compose -f <path-to-docker-compose.yml> up
Restart=on-failure

[Install]
WantedBy=multi-user.target
